.myButton {
  margin: 5px;
  padding: 10px 20px;
  background-color: rgb(206, 206, 223);
  border: none;
  border-radius: 50px;
  transition: all 0.1s ease-in-out;

  color: black;
}

/* стили сработают при наведении мышкой на кнопку */
.myButton:hover {
  background-color: rgb(250, 250, 250);
}

/* стили сработают при нажатии на кнопку */
.myButton:active {
  
  color: white;
}